---
---

@import "{{ site.theme }}";
.markdown-body {font-family: Georgia;}
a {
    text-decoration: none;
    color: #24292e;
    border-bottom: 1px dotted #24292e;
}
a:hover {
    color: #B6313E;
    text-decoration: underline;
}
