---
---

@import "{{ site.theme }}";
.markdown-body {font-family: 'Minion Pro';}
a {
    text-decoration: none;
    color: #24292e;
    text-decoration: underline;
    text-decoration-style: dotted;
}
a:hover {
    color: #c43e3a;
    teext-decoration: underline;
    text-decoration-style: solid;
}
.smallcaps {font-variant: small-caps;}
h1>span.smallcaps {font-size: 1.25em;}
