---
---

@import "{{ site.theme }}";
.markdown-body {font-family: Georgia;}
a {
    text-decoration: none;
    color: #24292e;
    text-decoration-style: dotted;
}
a:hover {
    color: #c43e3a;
    text-decoration-style: solid;
}
